.header {
    padding: 20px 0px;
    background-color: rgba(107, 179, 227, 0.8);
    width: 100%;
    margin-bottom: 20px;
    box-shadow: inset 0 -15px 15px -10px rgba(162, 190, 239, 0.8);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.logo {
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.logo:hover {
    text-decoration: underline;
}

.link {
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.link:hover {
    text-decoration: underline;
}

.form {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
}

.input {
    padding: 10px 12px;
    font-size: 16px;
    border: 2px solid #2875c3;
    border-radius: 4px;
    width: 240px;
    background-color: transparent;

    transition: all 0.3s ease;
}

.input::placeholder {
    color: #ccc;
}

.input:hover {
    outline: none;
    border-color: #004182;
}

.input:focus {
    outline: none;
    border-color: #004182;
    box-shadow: 0 6px 20px rgba(10, 102, 194, 0.6);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a66c2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #004182;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: 0 6px 20px rgba(10, 102, 194, 0.6);
}