.header {
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin-bottom: 20px;
    box-shadow: inset 0 -15px 15px -10px rgba(255, 255, 255, 0.3);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.link {
    font-size: 16px;
    font-weight: 500;
    color: #2d2e2e;
    text-decoration: none;
    transition: color 0.2s ease;
}

.link:hover {
    color: #0e0e0e;
    text-decoration: underline;
}

.form {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
}

.input {
    padding: 10px 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 240px;
    background-color: transparent;

    transition: all 0.3s ease;
}

.input::placeholder {
    color: #ccc;
}

.input:hover {
    outline: none;
    border-color: #004182;
}

.input:focus {
    outline: none;
    border-color: #004182;
    box-shadow: 0 6px 20px rgba(10, 102, 194, 0.6);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a66c2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #004182;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: 0 6px 20px rgba(10, 102, 194, 0.6);
}